body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.input-field input[type=text]:focus {
     color : darkred;
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }

.input-field input[type=password]:focus {
     color : darkred;
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }

.card{
    background: #fdf1dd;
    color: #781e0d;
}

select option {
  color: #fff; 
  box-shadow: inset 20px 20px #f00
} 

select option:hover {
  color: #000; 
  box-shadow: inset 20px 20px #00f;
}