<div class="center-align">
    <div class="row">
        <div class="col s6">
            <select class='dropdown-button btn red darken-4 white-text' ng-model="selectedCharacter">
                <option value='' disabled selected>Choose a Character</option>
                <option ng-repeat="character in characters" value="{{character.Id}}">{{character.Name}}</option>
            </select>
        </div>

        <div  class="col s1">
            <button class="btn-floating btn  red darken-4 fa fa-trash-o" ng-click="deleteCharacter(selectedCharacter)"></button>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <button class="btn btn-primary btn-lg col s2 red darken-4" ng-click="getCharacterSpells(selectedCharacter)">Get Spells!</button>
        </div>
    </div>
</div>

<div>
    <div ng-repeat="charactersSpell in charactersSpells" class="col s4 flow-text">
        <div class="">
            <div  class="center-align" ng-click="spellDetail(charactersSpell, $index)">{{charactersSpell.name}}</div>
            <div class="row">
                <div class="col s8 offset-s2">
                    <div class="card" ng-show="cardDetail[$index]">
                        <div>
                            <span ng-repeat="desc in charactersSpell.spelldetail.desc">{{desc}}</span>
                            <div>{{charactersSpell.spelldetail.higher_level}}</div>
                            <div class="card-action">
                                <div>Page Number: {{charactersSpell.spelldetail.page}}</div>
                                <div>Range: {{charactersSpell.spelldetail.range}}</div>
                                <div>Components: <span ng-repeat="comp in charactersSpell.spelldetail.components">{{comp}}</span></div>
                                <div>Materials: {{charactersSpell.spelldetail.material}}</div>
                                <div>Ritual: {{charactersSpell.spelldetail.ritual}}</div>
                                <div>Duration: {{charactersSpell.spelldetail.duration}}</div>
                                <div>Concentration: {{charactersSpell.spelldetail.concentration}}</div>
                                <div>Cast Time: {{charactersSpell.spelldetail.casting_time}}</div>
                                <div>{{charactersSpell.spelldetial.school}}</div>
                            <div>
                                <div class="card-action center-align">
                                    <button class="btn btn-primary btn-lg col-xs-4 red darken-4" ng-click="deleteSpell(charactersSpell.spelldetail.name, selectedCharacter)">Unlearn Spell</button>
                                </div>
                            </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
        </div>
    </div>
</div>
