
<div>
    <select ng-model="selectedCharacter" ng-options="x for x in characters"></select>
</div>

<div>
    <h1>Spells</h1>
    <div ng-repeat="spell in spells" class="col s4 flow-text">
        <div class="card">
            <div>{{spell.name}}</div>
            <div>{{spell.desc}}</div>
            <div>{{spell.higher_level}}</div>
            <div>{{spell.page}}</div>
            <div>{{spell.range}}</div>
            <div>{{spell.components}}</div>
            <div>{{spell.material}}</div>
            <div>{{spell.ritual}}</div>
            <div>{{spell.duration}}</div>
            <div>{{spell.concentration}}</div>
            <div>{{spell.casting_time}}</div>
            <div>{{spell.school}}</div>
        </div>
    </div>
</div>
