
<div>
    <select class='dropdown-button btn red darken-4' ng-model="selectedCharacter">
        <option value='' disabled selected>Please Choose a Character</option>
        <option ng-repeat="character in characters" value="{{character.Id}}">{{character.Name}}</option>
    </select>
</div>

<div>
    <button class="btn btn-primary btn-lg col-xs-4 red darken-4" ng-click="deleteCharacter(selectedCharacter)">Delete</button>
    <button class="btn btn-primary btn-lg col-xs-4 red darken-4" ng-click="addNew()">Add new character</button>
</div>


<div>
    <button class="btn btn-primary btn-lg col-xs-4 red darken-4" ng-click="getCharacterSpells(selectedCharacter)">Get Spells!</button>
</div>

<div>
    <div ng-repeat="charactersSpell in charactersSpells" class="col s4 flow-text">
        <div class="card">
            <div ng-click="spellDetail(charactersSpell.url)">{{charactersSpell.name}}</div>
            <div ng-model="spelldetail" class="col s4 flow-text">
                <div class="card">
                    <div>{{spelldetail.name}}</div>
                    <div>{{spelldetail.desc}}</div>
                    <div>{{spelldetail.higher_level}}</div>
                    <div>{{spelldetail.page}}</div>
                    <div>{{spelldetail.range}}</div>
                    <div>{{spelldetail.components}}</div>
                    <div>{{spelldetail.material}}</div>
                    <div>{{spelldetail.ritual}}</div>
                    <div>{{spelldetail.duration}}</div>
                    <div>{{spelldetail.concentration}}</div>
                    <div>{{spelldetail.casting_time}}</div>
                    <div>{{spelldetial.school}}</div>
                    <div class="card-action">
                        <button class="btn btn-primary btn-lg col-xs-4 red darken-4" ng-click="deleteSpell(spelldetail.Id)">Unlearn Spell</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
