<div>
    <div class="row center-align">
        <div class="col s5">
            <select class='dropdown-button btn red darken-4 white-text' ng-model="selectedClass" ng-options="x for x in classes">
                <option value='' disabled selected>Please Choose a Class</option>
            </select>
        </div>

        <div class="col s2">
            <button class="btn btn-primary btn-lg red darken-4 white-text" ng-click="getSpells(selectedClass, selectedLevel)">Spells!</button>
        </div>

        <div class="col s5">
            <select class='dropdown-button btn red darken-4' ng-model="selectedLevel" ng-options="x for x in levels">
                <option value='' disabled selected>Please Choose a Spell Level</option>
            </select>
        </div>
    </div>

            <div ng-repeat="spell in spells" class="col s4 flow-text">
                <div class="card">
                    <div>
                        <div ng-click="spellDetail(spell)">{{spell.name}}</div>
                        <div class="row">
                            <div class="col s8">
                                <div class="card">
                                    <div ng-model="spelldetail">
                                        <div>{{spell.spelldetail.name}}</div>
                                        <div>{{spell.spelldetail.desc}}</div>
                                        <div>{{spell.spelldetail.higher_level}}</div>
                                        <div>{{spell.spelldetail.page}}</div>
                                        <div>{{spell.spelldetail.range}}</div>
                                        <div>{{spell.spelldetail.components}}</div>
                                        <div>{{spell.spelldetail.material}}</div>
                                        <div>{{spell.spelldetail.ritual}}</div>
                                        <div>{{spell.spelldetail.duration}}</div>
                                        <div>{{spell.spelldetail.concentration}}</div>
                                        <div>{{spell.spelldetail.casting_time}}</div>
                                        <div>{{spell.spelldetial.school}}</div>
                                        <div class="card-action">
                                            <select class='dropdown-button btn red darken-4' ng-model="selectedCharacter">
                                                <option value='' disabled selected>Please Choose a Character</option>
                                                <option ng-repeat="character in characters" value="{{character.Id}}">{{character.Name}}</option>
                                            </select>
                                        </div>
                                        <div class="card-action">
                                            <button class="btn btn-primary btn-lg red darken-4" ng-click="addSpellToCharacter(selectedCharacter, spell.spelldetail)">Learn Spell</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
