<div>
    <div>
        <select class='dropdown-button btn red darken-4' ng-model="selectedClass" ng-options="x for x in classes">
            <option value='' disabled selected>Please Choose a Class</option>
        </select>
    </div>

    <div>
        <select class='dropdown-button btn red darken-4' ng-model="selectedLevel" ng-options="x for x in levels">
            <option value='' disabled selected>Please Choose a Spell Level</option>
        </select>
    </div>


    <div>
        <button class="btn btn-primary btn-lg col-xs-2 red darken-4" ng-click="getSpells(selectedClass, selectedLevel)">Get Spells!</button>
    </div>

    <div ng-model="spelldetail" class="col s4 flow-text">
        <div class="card">
            <div>{{spelldetail.name}}</div>
            <div>{{spelldetail.desc}}</div>
            <div>{{spelldetail.higher_level}}</div>
            <div>{{spelldetail.page}}</div>
            <div>{{spelldetail.range}}</div>
            <div>{{spelldetail.components}}</div>
            <div>{{spelldetail.material}}</div>
            <div>{{spelldetail.ritual}}</div>
            <div>{{spelldetail.duration}}</div>
            <div>{{spelldetail.concentration}}</div>
            <div>{{spelldetail.casting_time}}</div>
            <div>{{spelldetial.school}}</div>
            <div>
                <select class='dropdown-button btn red darken-4' ng-model="selectedCharacter" ng-options="x for x in characters">
                    <option value='' disabled selected>Please Choose a Character</option>
                </select>
            </div>
            <div>
                <button class="btn btn-primary btn-lg col-xs-2 red darken-4" ng-click="addSpellToCharacter(selectedCharacter, spelldetail)">Get Spells!</button>
            </div>
        </div>
    </div>

    <div ng-repeat="spell in spells" class="col s4 flow-text">
        <div class="card">
            <div>{{spell.name}}
                <button class="btn btn-primary btn-sm col-xs-2 red darken-4" ng-click="spellDetail(spell.url)">Detail</button>
               
            </div>
        </div>
    </div>
</div>